/* @font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: InterBold;
    src: url(../fonts/Inter-Bold.ttf);
} */

:root {
  --color-primary: #ff7b54;
  --color-text-on-primary: #ffffff;
  --color-text-on-secondary: #000000;
  --color-button-border: var(--color-text-on-primary);
  --color-button-primary-bg: var(--color-text-on-primary);
  --color-button-primary-text: var(--color-primary);
  --color-button-secondary-bg: transparent;
  --color-button-secondary-text: var(--color-text-on-primary);

  --font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h2,
p {
  margin: 0;
}

.body {
  font-family: var(--font-family);
}

.body--primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

.body--secondary {
  color: var(--color-primary);
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav shopping-cart";
  align-items: center;
  padding: 0 60px;
}

.header__link {
  font-size: 40px;
  font-weight: bold;
}

.main {
  padding: 150px;
}

.nav {
  display: inline-block;
  justify-self: end;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__list-item {
  margin-inline-end: 36px;
  font-size: 20px;
}

.button-container {
  display: flex;
  margin-top: 100px;
}

.button {
  font-size: 32px;
  padding: 0 64px;
  height: 100px;
  border: 4px solid var(--color-button-border);
  box-sizing: border-box;
  cursor: pointer;
  transition: outline 0.2s linear;
}

.button:hover,
.button:focus {
  outline: 2px solid var(--color-text-on-primary);
}

.button:not(button:last-of-type) {
  margin-inline-end: 20px;
}

.button--primary {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.button--secondary {
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}

.button__icon {
  vertical-align: middle;
}

.menu {
  display: none;
}

.home .menu path {
  fill: var(--color-text-on-primary);
}

.close {
  display: none;
}

.home .close path {
  fill: var(--color-text-on-primary);
}

.close,
.menu {
  cursor: pointer;
}

@media (max-width: 1220px) {
  .button {
    font-size: 24px;
    padding: 0 32px;
    height: 70px;
    border: 4px solid var(--color-button-border);
  }

  .button img {
    width: 20px;
  }
}

@media (max-width: 840px) {
  .body--no-scroll {
    overflow: hidden;
  }

  .menu {
    display: block;
  }

  .menu--hide {
    display: none;
  }

  .close--show {
    display: block;
  }

  .nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--color-primary);
    top: 60px;
    left: -100%;
    padding-top: 60px;
    transition: left 0.2s linear;
  }

  .nav--visible {
    left: 0;
  }

  .nav__list {
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }

  .nav__list-item {
    font-size: 60px;
    font-weight: bold;
  }

  .header {
    display: grid;
    grid-template-columns: 33px 1fr 34px;
    align-items: center;
  }

  .header__link {
    justify-self: center;
  }
}

@media (max-width: 815px) {
  .main {
    padding: 75px;
  }
}

@media (max-width: 700px) {
  .button {
    font-size: 16px;
    margin-top: 24px;
  }

  .button-container {
    flex-wrap: wrap;
    margin-top: 32px;
  }
}
