/* @font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: InterBold;
    src: url(../fonts/Inter-Bold.ttf);
} */

:root {
  --color-primary: #ff7b54;
  --color-text-on-primary: #ffffff;

  --font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  font-family: var(--font-family);
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav shopping-cart";
  align-items: center;
  padding: 0 60px;
}

.header__link {
  font-size: 40px;
  font-weight: bold;
}

.nav {
  display: inline-block;
  justify-self: end;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__list-item {
  margin-inline-end: 36px;
  font-size: 20px;
}
